@import url("./tailwind.css");
@import "~@payloadcms/ui/scss";

.lucide {
	width: 1em;
	height: 1em;
}

@media (width > 1024px) {
	.table {
		width: 100%;
	}
}

@include mid-break {
	.doc-header__title,
	.doc-tabs {
		padding: 0 var(--gutter-h);
	}
}

.relationship-table {
	.table {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		overflow: auto;
		white-space: normal;
	}
}

.collection-list {
	.table {
		@include mid-break {
			padding: 0 var(--gutter-h);
		}
	}
}
