@import url("./tailwind.css");
@import "~@payloadcms/ui/scss";

.lucide {
	width: 1em;
	height: 1em;
}

@media (width > 1024px) {
	.table {
		width: 100%;
	}
}

@include mid-break {
	.doc-header__title,
	.doc-tabs {
		padding: 0 var(--gutter-h);
	}
}
